<section class="page">
  <header class="page__header">
    <h1>Partners</h1>
  </header>
  <div class="page__content partner__content">
    <form action="/partners">
      <fieldset>
        <% for(let partner of partners) { %>
        <div>
          <input type="checkbox" value="<%- partner.homepage %>" id="" />
          <label for=""><%- partner.titel %></label>
        </div>
        <% } %>
      </fieldset>
    </form>

    <div class="filter-container">
      <section class="filter">
        <h2>Filteren op: </h2>

        <div class="filters">
          <details>
            <summary>Partners</summary>
            <fieldset name="filter">
              <label>
                <input
                  type="checkbox"
                  value="vervoerregio-amsterdam"
                  id=""
                />Vervoerregio Amsterdam
              </label>
              <label> <input type="checkbox" value="gvb" id="" />GVB </label>
              <label> <input type="checkbox" value="9292" id="" />9292 </label>
            </fieldset>
          </details>

          <div class="partner-chips">
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
            <div class="partner-chip"> GVB </div>
          </div>
        </div>
      </section>

      <div>
        <section class="sorting">
          <h2>Sorteren op: </h2>

          <div class="sorter">
            <select name="field" id="">
              <option value="titel">Titel</option>
              <option value="datum">Datum</option>
              <option value="progressie">Progressie</option>
            </select>

            <select name="direction" id="">
              <option value="asc">Oplopend</option>
              <option value="desc">Aflopend</option>
            </select>
          </div>
        </section>

        <button id="new-project">Nieuw project +</button>
      </div>
    </div>

    <section class="projects">
      <h2>Projecten</h2>

      <section class="projects-overview">
        <% projectsData.urls.forEach(project=> { %>

        <!-- project template -->
        <section class="project">
          <div class="project-info">
            <img
              width="64"
              src="<%= `${faviconAPI}${project.url}/&size=256` %>"
              alt=""
            />
            <h3> <%= project.website.titel %> </h3>
            <div class="project-link">
              <svg
                width="16"
                height="8"
                viewBox="0 0 16 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 0H9.6C9.16 0 8.8 0.36 8.8 0.8C8.8 1.24 9.16 1.6 9.6 1.6H12C13.32 1.6 14.4 2.68 14.4 4C14.4 5.32 13.32 6.4 12 6.4H9.6C9.16 6.4 8.8 6.76 8.8 7.2C8.8 7.64 9.16 8 9.6 8H12C14.208 8 16 6.208 16 4C16 1.792 14.208 0 12 0ZM4.8 4C4.8 4.44 5.16 4.8 5.6 4.8H10.4C10.84 4.8 11.2 4.44 11.2 4C11.2 3.56 10.84 3.2 10.4 3.2H5.6C5.16 3.2 4.8 3.56 4.8 4ZM6.4 6.4H4C2.68 6.4 1.6 5.32 1.6 4C1.6 2.68 2.68 1.6 4 1.6H6.4C6.84 1.6 7.2 1.24 7.2 0.8C7.2 0.36 6.84 0 6.4 0H4C1.792 0 0 1.792 0 4C0 6.208 1.792 8 4 8H6.4C6.84 8 7.2 7.64 7.2 7.2C7.2 6.76 6.84 6.4 6.4 6.4Z"
                  fill="var(--primary-color)"
                />
              </svg>

              <a href="<%= project.url %>"> <%= project.url %> </a>
            </div>
          </div>

          <div class="project-progression">
            <h4>Algehele progressie: </h4>
            <span>
              <% let progress; %> <% if (project.checks.length !=0) { %> <%
              progress=project.checks[0].succescriteria.length %> <% } else { %>
              <% progress=0; %> <% } %>
              <meter value="<%= progress %>" max="61"></meter>
              <p> <%= progress %>/61 </p>
            </span>
          </div>

          <button class="more">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 4"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 2C12 1.46957 12.2107 0.96086 12.5858 0.585787C12.9609 0.210714 13.4696 0 14 0C14.5304 0 15.0391 0.210714 15.4142 0.585787C15.7893 0.96086 16 1.46957 16 2C16 2.53043 15.7893 3.03914 15.4142 3.41421C15.0391 3.78929 14.5304 4 14 4C13.4696 4 12.9609 3.78929 12.5858 3.41421C12.2107 3.03914 12 2.53043 12 2ZM6 2C6 1.46957 6.21071 0.96086 6.58579 0.585787C6.96086 0.210714 7.46957 0 8 0C8.53043 0 9.03914 0.210714 9.41421 0.585787C9.78929 0.96086 10 1.46957 10 2C10 2.53043 9.78929 3.03914 9.41421 3.41421C9.03914 3.78929 8.53043 4 8 4C7.46957 4 6.96086 3.78929 6.58579 3.41421C6.21071 3.03914 6 2.53043 6 2ZM0 2C0 1.46957 0.210714 0.96086 0.585786 0.585787C0.960859 0.210714 1.46957 0 2 0C2.53043 0 3.03914 0.210714 3.41421 0.585787C3.78929 0.96086 4 1.46957 4 2C4 2.53043 3.78929 3.03914 3.41421 3.41421C3.03914 3.78929 2.53043 4 2 4C1.46957 4 0.960859 3.78929 0.585786 3.41421C0.210714 3.03914 0 2.53043 0 2Z"
                fill="#000"
              />
            </svg>
          </button>
        </section>
        <% }) %>
      </section>
    </section>
  </div>
</section>
